@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: white;
}

@layer base {
  h1 {
    @apply text-3xl font-medium text-primary leading-[38px] lg:text-[64px] lg:leading-[72px];
  }
  h2 {
    @apply text-2xl font-medium text-primary leading-8 lg:text-4xl lg:leading-10;
  }
  h3 {
    @apply text-xl font-medium text-primary leading-7 lg:text-2xl lg:leading-8;
  }
  h4 {
    @apply text-base font-medium text-primary leading-6 lg:text-lg lg:leading-7;
  }
  h5 {
    @apply text-sm font-medium text-primary leading-5 lg:text-base lg:leading-6;
  }
  p {
    @apply text-sm font-light leading-5 text-body-text lg:text-base lg:leading-6;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
